@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="row">
    <div class="col-8">Content 1</div>
    <div class="col-4">Content 2</div>
</div>

<div class="row">
    <div class="col-12 col-sm-6 col-md-8">Content 1</div>
    <div class="col-6 col-md-4">Content 2</div>
</div>

<div class="row">
    <div class="col-sm">col-sm</div>
    <div class="col-sm">col-sm</div>
    <div class="col-sm">col-sm</div>
</div>
<div class="row">
    <div class="col-md-4">.col-md-4</div>
    <div class="col-md-4 offset-md-4">.col-md-4 .offset-md-4</div>
</div>

<div class="card">
    <div class="card-header">
        My Card
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-6">
                <div class="btn btn-success">
                    Green Button
                </div>
            </div>
            <div class="col-6">
                <div class="btn btn-warning">
                    Warning Button
                </div>
            </div>
            
        </div>
    </div>
    <div class="card-footer">
        This is my footer.
    </div>
</div>